.invisible-symbol {
    color: gray;
  }


.tabulator-cell {
    white-space: pre-wrap;
    word-wrap: break-word;
    height: auto; 
    font-family: inherit;
    font-size: inherit;
}

.tabulator-cell input,
.tabulator-cell textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 0;
    border: none;
    background-color: transparent;
    box-shadow: none;
    outline: none;
}

.tabulator-row {
    height: auto; 
}

html, body {
    height: 95%;
    margin: 0;
    padding: 0;
}

#table {
    height: 100%;
    width: 100%;
}
