.tabulator-cell {
    white-space: pre-wrap;
    height: auto;
}

html, body {
    height: 95%;
    margin: 0;
    padding: 0;
}

#table {
    height: 100%;
    width: 100%;
}

.dragging {
    opacity: 0.5;
    border: 2px dashed #000;
}